namespace: ralph-webhook

replicaCount: 1

image:
  repository: ghcr.io/zon/ralph
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: public
  clusterIssuer: lets-encrypt
  annotations: {}
  hostname: ralph.haralovich.org
  path: /
  pathType: Prefix

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

serviceAccount:
  name: ralph-webhook
